@font-face {
    font-family: Regencie;
    src: url(../fonts/RegencieLight.ttf);
}
header{
	width: 98%;
}
header h1{
	font size: 3.75em;
	font-family: Regencie;
	font-weight: bolder;
	text-align: right;
}
header h2{
	margin-top: -10px;
	font size: 3em;
	font-family: Regencie;
	font-variant: small-caps;
	text-align: right;
}
#menu-button{
	float:left;
	margin-left: 2.8%;
	padding: 2%;
	border-radius: 5px;
	border: 2px #007ea9 solid;
}
#mobile-nav{
	display:none;
}
#display-nav{
	display: inline-block;
}
#logo{
	width: 18%;
	display: inline-block;
	float: left;
}

#sketch{
	width: 100%;
}

#giss{
	width: 98%;
}
#tab-container{
	display: flex;
	justify-content: space-around;
}
.tabs{
	padding-top: 10px;
	width: 30%;
	border: 1px solid #000000;
	border-radius: 25px;
	text-align: center;
	font-variant: small-caps;
}
.tabs a{
	color: #000000;
	text-decoration:none;
}
.tabs .fas{
	font-size: 2em;
}
footer{
	margin: 2%;
	border-top: 4px double #000000;
}
footer .fas, .far{
	text-decoration: none;
	font-size: 1.75em;
	color: #007ea9;
}
footer a{
	text-decoration: none;
	color: #007ea9;
}
#footer-info{
	font: .20em;
	text-align: center;
	font-variant: small-caps;
}
#footer-nav{
	padding: 2% 10%;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
